<div class="mx-auto mt-16 text-center rounded overflow-hidden shadow-lg p-10">
  <h1 class="mb-4 text-3xl font-black">New Article</h1>
  <%= render 'form', article: @article, cancel_path: '/'%>
</div>
